{{ header_tmpl }}
{% set intvars = interfaces[ansible_hostname] %}
{% set loopback_ip = intvars.loopback -%}
{% if intvars.bridges is defined -%}
{% set swbridges = intvars.bridges -%}
{% endif -%}

auto lo
iface lo inet loopback

{% if loopback_ip is defined -%}
auto lo:1
iface lo:1
  address {{ loopback_ip }}/32
{% endif -%}

auto eth0
iface eth0 inet dhcp

{% if intvars.int_unnumbered is defined -%}
{% for item in intvars.int_unnumbered -%}

auto {{ item }}
iface {{ item }}
  address {{ loopback_ip }}/32
  
{% endfor %}
{% endif -%}




 




